<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body style="margin:0; padding: 0;">
        <div style="width: 800px;">
            <div style="position: relative; width: 100%; max-width:800px; border:solid 1px #eee; padding: 0; margin: 0">
                <style>
                    @media print and (-webkit-min-device-pixel-ratio:0) {
                        table tbody tr td{
                            color: #fff;s
                            -webkit-print-color-adjust: exact;
                        }
                        table{
                            -webkit-print-color-adjust: exact;
                        }
                    }
                </style>
                <table style="margin:0 auto; border-collapse: collapse; padding: 0; margin: 0; border:none; width: 100%;">
                    <tbody>
                        <tr>
                            <td style="padding:0; background-color: #fff; width: 100%;"  valign="top">
                                <table style="border-collapse: collapse; padding: 0; margin: 0; border:none; width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="padding:15px 20px; font-family: arial; color:#333; font-size: 0;">
                                                <img src="https://www.evacservices.com.au/wp-content/uploads/2018/08/evacconnect-logo.png" style="width:200px;"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:15px 20px; background-color: #fff; font-family: arial; color:#333; font-size: 0;">
                                                <h1 style="font-size: 20px; color: #555;">
                                                    You are nominated as Warden
                                                </h1>
                                                <p style="font-size: 15px; color: #333; line-height: 1.5">
                                                    Hi {{users_fullname}}, <br><br>

                                                    {{nominators_fullname}} from {{nominators_account_name}} has nomindated you as a Warden for {{account_name}} at {{location_name}}.<br><br> 

                                                    Wardens are specially trained people who assist occupants to appropriately and safely respond to emergency situations. This building uses EvacConnect to manage emergency compliance and warden lists. <br><br>

                                                    Please follow this link to set up your profile and password on EvacConnect: <a href="{{setup_link}}" style="color:#3498db;">{{setup_link}}</a> <br><br>

                                                    EvacConnect will send you emails {{frequency}} asking you to confirm your status as a warden. This is to ensure that warden lists for the building remain up to date.<br><br>

                                                    Thank you for helping us ensure the safety of all occupants within your tenancy.<br><br><br>

                                                    Sincerely,<br>
                                                    The EvacConnect Engagement team<br><br>

                                                    Would you like more information on EvacConnect or Emergency Planning?<br>
                                                    The importance of planning for emergencies<br><br>

                                                    EvacConnect for Wardens - an instructional video<br><br>

                                                    Provide feedback on your experience using EvacConnect<br><br>

                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="margin:0 auto; border-collapse: collapse; padding: 0; margin: 0; border:none; width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="padding:0; background-color: #fff; border-bottom:solid 1px #ddd; border-top:solid 1px #ddd; width: 30%; padding: 10px;"  valign="middle">
                                                <a style="text-decoration:none;" href="https://www.evacservices.com.au/emergency-planning-101-why-plan-for-emergencies/"><img style="width:0; " src="https://www.evacservices.com.au/wp-content/uploads/2018/08/2018-08-08-emergency-planning-101.jpg"/><img style="width:100%;" src="https://www.evacservices.com.au/wp-content/uploads/2018/08/2018-08-08-emergency-planning-101.jpg"/></a>
                                            </td>
                                            <td style="padding:0; background-color: #fff; border-bottom:solid 1px #ddd; border-top:solid 1px #ddd; width: 30%;"  valign="middle">
                                                <p style="font-family: arial; font-size: 15px; color: #555; padding: 10px; line-height: 1.5">Do you and your occupants know what to do and where to go when emergencies strike? Are you confident that you will be able to keep the people in your care safe and sound in the darkest hours?<br/><br/>Emergencies happen anytime, anywhere and pose threats to the safety and security of individuals and businesses. <a href="https://www.evacservices.com.au/roles-of-tenants-in-occupant-safety/" style="color:#85bf43; text-decoration: none;">Read More...</a></p>
                                            </td>
                                        </tr>
                                        <tr>   
                                            <td style="padding:0; background-color: #fff; border-bottom:solid 1px #ddd; width: 30%; padding: 10px;"  valign="middle">
                                                <a style="text-decoration:none;" href="https://www.evacservices.com.au/roles-of-tenants-in-occupant-safety/"><img style="width:0;" src="https://www.evacservices.com.au/wp-content/uploads/2018/08/2018-08-08-emergency-planning-101.jpg"/><img style="width:100%;" src="https://www.evacservices.com.au/wp-content/uploads/2018/08/2018-08-08-role-of-tenant.jpg"/></a>
                                            </td>
                                            <td style="padding:0; background-color: #fff; border-bottom:solid 1px #ddd; width: 30%"  valign="middle">
                                                <p style="font-family: arial; font-size: 15px; color: #555; padding: 10px; line-height: 1.5">Establishing emergency procedures is not just in the hands of facility managers. While building owners and managers are ultimately responsible for ensuring the safety and well-being of all occupants within the facility, tenants need to ensure that their workplace is compliant. Crucial to this process is their coordination with the facility manager to align the tenancy’s emergency procedures with those of the building. <a href="https://www.evacservices.com.au/roles-of-tenants-in-occupant-safety/" style="color:#85bf43; text-decoration: none;">Read More...</a></p>
                                            </td>
                                        </tr>
                                        <tr>    
                                            <td style="padding:0; background-color: #fff; border-bottom:solid 1px #ddd; width: 30%; padding: 10px;"  valign="middle">
                                                <a style="text-decoration:none;" href="#">
                                                    <img style="width:100%;" src="https://www.evacservices.com.au/wp-content/uploads/2018/08/limesurvey.jpg"/>
                                                </a>
                                            </td>
                                             <td style="padding:0; background-color: #fff; border-bottom:solid 1px #ddd; width: 30%"  valign="middle">
                                                <p style="font-family: arial; font-size: 20px; color: #555; padding: 10px; line-height: 1.5"><strong>Take this survey to tell us about your user experience of EvacConnect.</strong></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="border-collapse: collapse; padding: 0; margin: 0; border:none; width: 100%; text-align: center;">
                                    <tbody>
                                        <tr>
                                            <td style="padding:0; border: none;">
                                                <table style="margin:0 auto; border-collapse: collapse; padding: 0;  border:none; width: 100%; background-color: #fff;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size:13px; color: #333; text-align:right; font-family:arial; line-height:20px; vertical-align:middle; padding:10px 20px 5px;">
                                                               <p style="font-size: 13px; color: #333; margin: 0; font-weight: 900;">Connect with Us</p> 
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:13px; color: #333; text-align:right; font-family:arial; line-height:20px; vertical-align:middle; padding:5px 20px 10px;">
                                                                <a href="https://www.facebook.com/search/top/?q=evacservices" target="_blank"><img style="width: 50px;" src="http://evachub.com/assets/email/newEmailTemplate/facebook.png"/></a> 
                                                                &nbsp;&nbsp;
                                                                <a href="https://www.linkedin.com/company-beta/2559650/" target="_blank"><img style="width: 50px;" src="http://evachub.com/assets/email/newEmailTemplate/linkedin.png"/></a> 
                                                                &nbsp;&nbsp;
                                                                <a href="https://twitter.com/EvacServices" target="_blank"><img style="width: 50px;" src="http://evachub.com/assets/email/newEmailTemplate/twitter.png"/></a> 
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>  
    </body>
</html>